JWT_ACCESS_TOKEN=your-jwt-access-token
JWT_REFRESH_TOKEN=your-jwt-refresh-token

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
NODE_ENV=production


MAIL_USER=youremailm@gmail.com
MAIL_PASS=your pass app
MAIL_FROM="Your Name  <youremail@gmail.com>"

MONGODB_URI=mongodb+srv://

PORT=3000


